# deps
node_modules/

# next.js
.next/
out/

# env files (NEVER commit these)
.env
.env.local
.env*.local

# drizzle
drizzle/meta/

# vercel
.vercel/

# os
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts

